body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90vh;
    width: 90vw;

    background-color: #F3FDE8;
}

.infors{
    margin-top: 10px;
}

#infor_block {
    text-align: center;
    font-family: "Consolas", sans-serif;
    font-weight: bold;
    margin-right: 20px;
}
#name{
    font-size:large
}
#score_block {
    height: 100px;
    width: 100px;
    border: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    background-color: whitesmoke;
    font-size: xx-large;
    color: red;
}

canvas {
    /* position: relative; */
    background-color: white;
    border: 2px solid #435334;
    border-bottom: 6px solid #435334;
    /* mix-blend-mode: multiply; */
}

#restart {
    display: block;
    top: 650px;
    border: none;

    /* mix-blend-mode: multiply; */
    background-color: #F3FDE8;
    
    font-weight: Bold;
    font-family: "Consolas", sans-serif;
}
#restart:hover {
    cursor: pointer;
    color: RED;
}

.gameblock
{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
}